@using YurtOtomasyonu.ViewModels.DuyuruListele
@model  DuyuruListeleViewModel
@{
    ViewBag.Title = "DuyuruListele";
    Layout = "~/Views/ThemeLayout/layout_one_theme.cshtml";
}



<div class="row">
    <div class="col-md-12">

        @foreach (var dy in Model.Duyurular)
        {

            <div class="col-md-3">

                <ul class="list-group">
                    <li class="list-group-item active">
                        @(dy.Konu)
                    </li>
                   

                        <li class="list-group-item">

                           
                            @Html.ActionLink("Sil", "Sil", "Duyuru", new { duyuruID = dy.Duyuru_ID }, new { @class = "btn btn-danger btn-xs" })
                            @(dy.Duyuru)



                        </li>
                    
                </ul>

            </div>

       


        }
            </div>
    </div>
