@model YurtOtomasyonu.Models.mDuyuru.Duyurular



@{
    ViewBag.Title = "DuyuruYap";
    Layout = "~/Views/ThemeLayout/layout_one_theme.cshtml";
}
<hr />
<h2>DuyuruYap</h2>
@using (Html.BeginForm())
{<div class="input-group">
        <span class="input-group-addon" id="txtDuyuruKonu"></span>

        @Html.TextBoxFor(x => x.Konu, new { @class = "form-control", placeholder = "Konu", rows = "15", aria_describedby = "txtDuyuruKonu" })

    </div>
    <br />
    <div class="input-group">
        <span class="input-group-addon" id="txtDuyuru"></span>

        @Html.TextAreaFor(x => x.Duyuru, new { @class = "form-control", placeholder = "Duyuru", rows = "15", aria_describedby = "txtDuyuru" })

    </div>



    <br />
    <div class="input-group">
        <input type="submit" value="Kaydet" class="btn btn-success" />
    </div>
    <br />
    <div class=" input-group-addon" style=" border">
        @if (ViewBag.Result != null)
        {
            <div class="alert alert-@ViewBag.Status" role="alert">
                @ViewBag.Result
            </div>
        }

    </div>
}